.text-align {
  text-align: center;
}
.apikey-container {
  background-color: #e9ecef;
  height: 25vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 8px;
}

.url-inputField {
  width: 85%;
  margin-right: 10px;
}

.pre-container {
  background-color: #e9ecef;
  height: 60vh;
  margin-bottom: 20px;
  width: 100%;
  border-radius: 8px;
}

.data-displayed {
  margin-top: 40px;
  width: 100%;
  height: 100%;
}

.apikey-form {
  width: 70vw;
}

.apikey-response-success {
  width: 100%;
}

.header-success {
  background-color: lightgreen !important;
  font-weight: bold;
  color: black;
}

.header-failed {
  background-color: rgb(228, 80, 80) !important;
}

.display-none {
  display: none;
}
